USE [master]
GO
/****** Object:  Database [radnici]    Script Date: 11/3/2021 6:00:17 PM ******/
CREATE DATABASE [radnici]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'radnici', FILENAME = N'C:\Users\Djordje\radnici.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'radnici_log', FILENAME = N'C:\Users\Djordje\radnici_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [radnici].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [radnici]
GO
/****** Object:  Table [dbo].[radnik]    Script Date: 11/3/2021 6:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[radnik](
	[id] [int] IDENTITY(1,2) NOT NULL,
	[ime] [varchar](100) NOT NULL,
	[prezime] [varchar](100) NOT NULL,
	[adresa] [varchar](100) NOT NULL,
	[neto_plata] [int] NOT NULL,
	[umanjenje_poreske_osnovice] [float] NULL,
	[bruto_iznos] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
